:root {
  /* Updated from the style guide 6/14/21 */
  /* Primary Color */
  --primary-orange-1: #9F3D0C;
  --primary-orange-2: #BF490E;
  --primary-orange-3: #DF5511;
  --primary-orange-4: #FF6113;
  --primary-orange-5: #FF894E;
  --primary-orange-6: #FFB897;
  --primary-orange-7: #FFDFD0;
  /* Default Color */
  --default-blue-1: #152260;
  --default-blue-2: #23399F;
  --default-blue-3: #2A45BF;
  --default-blue-4: #385CFF;
  --default-blue-5: #6A85FF;
  --default-blue-6: #9BADFF;
  --default-blue-7: #D7DEFF;
  /* Neutral Color / Greyscale */
  --neutral-grey-1: #262626;
  --neutral-grey-2: #252B36;
  --neutral-grey-3: #343A40;
  --neutral-grey-4: #4D5358;
  --neutral-grey-5: #6C757D;
  --neutral-grey-6: #C1C5CB;
  --neutral-grey-7: #E1E3E5;
  --neutral-grey-8: #F6F7F9;
  --neutral-grey-9: #FAFAFA;
  --neutral-white-1: #FFFFFF;
  /* Accent Colors (Data Vis) */
  /* Pink Accent */
  --accent-pink-1: #BF2A45;
  --accent-pink-2: #FF385C;
  --accent-pink-3: #FF9BAD;
  /* Green Accent */
  --accent-green-1: #24B66F;
  --accent-green-2: #29D07F;
  --accent-green-3: #AFEDCF;
  /* Yellow Accent */
  --accent-yellow-1: #DFC031;
  --accent-yellow-2: #FFDB38;
  --accent-yellow-3: #FFE983;
  /* Blue Accent */
  --accent-blue-1: #2A90BF;
  --accent-blue-2: #38C0FF;
  --accent-blue-3: #9BE0FF;
  /* Purple Accent */
  --accent-purple-1: #592ABF;
  --accent-purple-2: #7738FF;
  --accent-purple-3: #BB9BFF;
}

body {
  font-family: "Roboto", "open sans", helvetica, sans-serif;
  background-color: var(--neutral-white-1);
}

tt {
  font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  line-height: 1.4em;
}

h1 {
  padding-top: 10px;
}
body, h1, h2, h3, h5, h6, .h1, .h2, .h3, .h4 {
  color: #443939;
}
body, h3, h5 {
  font-weight: 400;
}
h1, h2, h4, h6, .h1, .h2 {
  font-weight: 400;
}

.description {
  font-family: "open sans", sans-serif;
  color: #443939;
}

.title, .info .info-title {
  font-weight: 300;
  color: #443939;
}
h1, .h1 {
  font-size: 2.8em;
  line-height: 1.15em;
}
.intro {
  font-weight: 300;
  padding-bottom: 24px;
}
a, a:hover, a:focus {
  color: #4285f4;
}

html {
  position: relative;
  min-height: 100%;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  color: #AAAAAA;
  padding: 0px 4px;
  width: inherit;
}

.navbar {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.05), 0 3px 20px 0px rgba(0, 0, 0, 0.05), 0 8px 10px -5px rgba(0, 0, 0, 0.05);
}
.navbar.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.95);
  color: #484242;
}

.navbar .navbar-brand {
  padding: 0 16px;
  margin-top: 2px;
}

.alert a {
  text-decoration: underline;
}
.alert a:hover {
  text-decoration: none;
}

/*
This is just a bad way to hack in some of our styles into the navbar. But we
have to do this with an override class because material-kit does some
non-transparent-related stuff (that we want) by the presence of the
navbar-transparent class :facepalm:.
 */
.navbar.navbar-transparent.navbar-override-transparent {
  background-color: rgba(255, 255, 255, 1);
}

.navbar.navbar-shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  -moz-box-shadow:    0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-shadow:         0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-brand > img {
  display: inline-block;
  vertical-align: bottom;
}

.logo {
  display: inline-block;
  width: 140px;
}
.logo.logo-square {
  display: none;
}
@media (max-width: 300px) {
  .logo {
    width: 110px;
  }
}

.card .header-primary {
  background: linear-gradient(60deg, #1976d2, #3f51b5);
}

.search-bar {
  padding: 68px 0 8px;
}
#content { background-color: white; padding-top: 32px; }

.NavBar--fixed-top {
  /*top: 32px !important;*/
  padding-top: 0 !important;
}

#beta-banner {
  padding: 5px 25px;
  margin-bottom: 20px;

  background-color: #E96D44;
  border-bottom: 1px solid #E54F1F;
  color: white;

  text-align: center;
}

#beta-banner a {
  font-weight: bold;
  color: white;
}

[class*="features-"], [class*="team-"], [class*="projects-"], [class*="pricing-"], [class*="testimonials-"], [class*="contactus-"] {
  padding: 80px 0;
}
[class*="team-"] {
  padding: 0 0 80px 0;
}
.features {
  padding: 3em 0;
}
.section-space {
  height: 70px;
  display: block;
}
.section, .section-image {
  background-position: center center;
  background-size: cover;
}
.card {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: var(--neutral-white-1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  vertical-align: top;
  min-width: 230px;
  max-width: 330px;
}

.btn.btn-white {
  color: #000;
}

.card [class*="header-"] .icon i, .text-info, .card [class*="content-"] .icon i {
  color: var(--neutral-white-1);
}
.card [class*="content-"] h1 small, .card [class*="content-"] h2 small, .card [class*="content-"] h3 small, .card [class*="content-"] .billing {
  color: rgba(255, 255, 255, 0.8);
}
h6.category {
  margin-bottom: 0;
  flex-grow: 1;
}
.enterprise {
  padding: 3% 10%;
  width: 100%;
  background: var(--neutral-white-1);
}
.billing {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.6);
  flex-grow: 1;
}
.checks {
  color: #4169d5;
}
.compare {
  font-weight: 700;
  background: papayawhip;
}
.header-row {
  background: #437bec;
  font-size: 18px;
  color: var(--neutral-white-1);
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: var(--neutral-white-1);
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.subtitle {
  color: #443939;
}

@media (max-width: 991px) {
  h1, .h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 550px) {
  h1, .h1 {
    font-size: 2.1em;
  }
}

.pricing .header .container {
  padding-top: 16vh;
}
.discover {
  max-width: 400px;
}
.monitor {
  max-width: 300px;
}
.paper {
  border: 1px solid #CCCCCC;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px #80808063;
  max-width: 300px;
}
.discover, .monitor, .paper {
  width: 100%;
}
.info {
  padding: 10px 0 40px;
}
.text-light { color: var(--neutral-white-1); }

.icon.icon-blue {
  color: #4866CF;
}
.icon.icon-orange {
  color: #E96D44;
}
.icon.icon-purple {
  color: #9278DF;
}
.pw {
  margin-top: 15px;
  margin-bottom: 12%
}
ul.nav-topmenu {
  list-style: none;
}
.nav-topmenu {
  padding-left: 0;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 0;
  margin-top: 24px;
}
.nav-topmenu > li {
  color: #727285;
  font-size: 14px;
  margin: 0 8px;
  text-decoration: none;
  padding: 2px 0;
  position: relative;
  display: inline-block;
}

.nav-topmenu > li.active {
  font-weight: 400;
}

.nav-topmenu > li a {
  color: #727285;
}

.nav-topmenu > li a i {
  margin-right: 4px;
}

.nav-topmenu > li a:hover {
  color: #18181c;
  text-decoration: none;
}

.results {
  border-left: 1px solid #dcdde8;
  padding-top: 16px;
  padding-left: 16px;
}
.result {
  padding-bottom: 24px;
  line-height: 160%;
}
@media (min-width: 768px) {
  .resultsbar {
  width: 80% !important;
  }
}
.statistics.pull-right {
  margin: -25px 0;
  padding: 0 7px;
  background-color: #f0f1f9;
}
@media (min-width: 768px) {
  .leftbar {
    width: 20% !important;
  }
}
.card .header {  box-shadow: none; }

.bigspace {
  padding-left: 12px;
}
.statistics.pull-right {
  margin-top: -25px;
  color: #868686;
}
.results-metadata {
  margin-top: 3px;
  margin-left: 20px;
  font-size: 14px;
  color: #4c4948;
}

.results-metadata hr {
  margin-bottom: 5px !important;
}

.ip {
  font-weight: 700;
}
.nav-topmenu > li.active {
  border-bottom: 2px solid #4285f4;
  color: #4285f4;
  font-weight: 700;
  margin-bottom: 0px;
}

.nav-topmenu > li.active > a {
  color: #4285f4;
}

h2.section-title {
  font-weight: 700;
  font-size: 21px;
  background-color: #4169d517;
  padding: 2px 12px;
  /* border-top: 2px solid #4169d5; */
}
@media (min-width: 768px) {
  .dl-hostbox dt {
    width: 100px;
  }

  .RawDataPage dt {
    width: 220px;
  }

  .dl-horizontal dd {
    margin-left: 230px;
  }
}
@media (min-width: 768px) {
  .dl-hostbox dd {
    padding-bottom: 2px;
    margin-left: 110px;
  }
}
.host-details h4 {
  font-weight: 700;
  color: #2f3863;
  font-size: 16px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.host-details .host-section table .fit-content {
  width: 1%;
  word-break: keep-all;
  white-space: nowrap;
}
.host-details .host-section h4 {
  font-weight: 900;
  margin-bottom: 0px;
  padding-bottom:0px;
  /* color: #ff6113; */
  color: rgba(255, 97, 19, .80)
}
.host-details .host-section dd {
  overflow-wrap: break-word;
}
.host-details h5 {
  font-weight: 500;
  color: #2f3863;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 3px;
}
.host-details h5:first-of-type {
  margin-top: 5px;
}

.dl-hostbox dd {
    overflow: scroll;
}

.navbar .navbar-nav > li > a {
  font-size: 15px;
  text-transform: none;
  color: #484242;

  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.navbar .navbar-nav > li > a:hover {
  color: #807979;

  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color .1s .2s;
}

.nav-tabs {
  background: none;
  border-bottom: 1px solid #3f51b5;
  border-radius: 0;
  padding-left: 0;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  letter-spacing: 0.5px;
}

.nav-tabs a.dropdown-toggle {
  color: #4a4a4a;
  padding: 10px 15px;
}
.nav-tabs > li > a {
  color: #4a4a4a !important;
  border: 0;
  border-radius: 0;
  line-height: 24px;
  text-transform: none;
  font-size: 13px;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #808080 !important;
}
a.dropdown-toggle {
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  font-size: 14px;
}
.dropdown-align {
  padding-right: 10px;
}
.results-container {
  padding: 10px 10px 30px 10px;
}
.dl-horizontal dt {
  border-top: 1px dotted #d6d6d6;
}

.result-metadata a {
  color: #4a4a4a;
  font-size: 13px;
}

/*NAVBAR W SEARCH BAR*/
@media (min-width: 768px) {
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}
@media (min-width: 768px) {
.navbar-right {
  margin-bottom: 8px;
  }
}
.form-inline .form-group {
  padding: 0;
  margin: 0;
}
#search button.btn.dropdown-toggle {
  color: #4a4a4a;
  background-color: transparent;
  padding: 0 15px;
  box-shadow: 0 0 0;
}
#search .form-control {
  min-width: 400px;
  color: #000;
}
form#search {
  position: relative;
}
.show {
  display: inline-block !important;
}
#search .form-group.is-empty {
  display: inline-block;
}
.tab-spacer { margin-right: 30px; }
.spacer { margin-bottom: 20px; }

.date {
  font-family: "titillium web", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding-top: 1em;
  margin-bottom: 4px;
  border-top: 1px dotted #e6e6e6;
}
.label {
  padding: 4px 10px;
  font-size: 10px;
  letter-spacing: 0.5px;
}


.label.label-info {
  background-color: #54b3de;
}
/*SAFARI CARD FIX*/
@media all and (min-width: 992px) {
  .col-md-4 {
  width: 33.3%;
  }
}
@media all and (min-width: 992px) {
  .col-md-3 {
  width: 24.9%;
  }
}

/*HEADER VERTICAL SPACING*/

pre { border: none; margin: 0 0 0 0; padding: 0 0 0 0; background-color: var(--neutral-white-1)}

code {
    border: none;
    margin: 0 0 0 0;
    padding: 5 5 2 2;
    color: #002439;
    background-color: #dbe8f0;

}

.bigspace {
    padding-left: 10px;
    padding-right: 7px;
}

.medspace {
    padding-left: 5px;
    padding-right: 7px;
}

.small-loader {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.small-loader > div {
  background-color: #335061;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.small-loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.small-loader .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.small-loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.small-loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.pagination-buttons {
    text-align: center;
}

.pagination > li > a,
.pagination > li > span {
    font-size: 14px;
}

@media (min-width: 768px) {
    .dl-hostbox dd {padding-bottom: 2px; margin-left: 110px}
    .dl-hostbox dt {width: 100px;}
    .dl-hostbox {margin-bottom: 0px; padding-bottom: -2px;}
}

.dl-report dt { padding-top: 4px;}
.dl-report dd { padding-bottom: 4px;}


@media (min-width: 768px) {
  .dl-host dt{margin-left: -30px; padding-bottom: 2px}
  .dl-host dd{margin-left: 140px; padding-bottom: 2px}
}

@media (min-width: 768px) {
  .dl-dns dt{margin-left: -80px; padding-bottom: 2px}
  .dl-dns dd{margin-left: 90px; padding-bottom: 2px}
}

@media (min-width: 768px) {
  .certificate .dl dt{padding-bottom: 2px; width: 150px; padding-top: 1px}
  .certificate .dl dd{margin-left: 160px; padding-bottom: 6px; padding-top: 2px}

  .page-content .dl dt{padding-bottom: 2px; width: 150px; padding-top: 1px}
  .page-content .dl dd{margin-left: 160px; padding-bottom: 6px; padding-top: 2px}

  .enrichments .dl dt { width: 30%; margin: 0; padding: 0; float: left; padding-bottom: 6px; padding-top: 1px; word-wrap: anywhere; overflow: visible; white-space: break-spaces }
  .enrichments .dl dd { width: 65%; margin: 0; padding: 0; float: right; padding-bottom: 6px; padding-top: 2px; word-wrap: anywhere; overflow: visible; }

  .extensions .dl dd {padding-bottom: 8px;}

  /* HACK: Try to make the dl's in the side panels not wrap, reported by Zakir */
  .certificate .panel-body .dl dt{
    width: 100px;
  }
  .certificate .panel-body .dl dd{
    margin-left: 110px;
  }
}


.dl-api dt { padding-top: 4px;}
.dl-api dd { padding-bottom: 15px; padding-top: 4px;}

.apidocs .name {
    color: #0076b8;
    font-weight: bold
}

.apidocs .error-code {
    color: #0076b8;
    font-weight: bold
}

.apidocs ul {
    padding-left: 0px;
}

.apidocs li {
    padding-bottom: 15px;
    padding-right: 100px;
    list-style-type: none;
}


.audit .dl dt {margin-left: 0; padding-bottom: 0px; width: 200px}
.audit .dl dd {margin-left: 0; padding-bottom: 5px}


.panel h4 {
    margin-top: 0px;
}

.panel {
    margin-top: 20px;
    padding-left: 4px;
}

.panel-body {
}


.autocomplete-suggestions {
  border: 1px solid #dbd6df;
  background: var(--neutral-white-1);
  overflow: auto;
  font-family: 'Lato',sans-serif;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0px
}
.autocomplete-suggestion {
  padding: 7px 12px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5
}
.autocomplete-selected {
  background: #F1F1F1
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #337ab7
}
.autocomplete-group {
  padding: 7px 8px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
  background-color: var(--neutral-grey-9)
}
.autocomplete-group .fa {
  padding-right: 3px
}

.raw-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.raw-table tbody {
  border-bottom: 0;
  border-top: 0;
}

.raw-table tbody:last-of-type {
  border-bottom: 1px solid #d7d7d7;
}

.raw-table tbody tr {
  border-left: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
}

.raw-table tbody tr td {
  border-top: 1px dashed #d7d7d7;
}

.raw-table .embedded tbody {
  border: 0;
}

.raw-table .embedded tbody tr:first-of-type td {
  border-top: 0;
}

.raw-table .embedded tr {
  border-left: 0;
  border-right: 0;
}

.raw-table thead tr th {
  border-bottom: 0
}

.raw-table thead {
  border-bottom: 1px solid #d7d7d7;
}

.services-results {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.services-results .service {
  flex: 0 1 auto;
  min-width: 20%;
  max-width: 25%;
  /*margin-right: 20px;*/
}

.services-results .service.grow {
  min-width: 40%;
  max-width: 40%;
}

.details-unexpanded {
    height: 18pt;
    overflow: hidden;
}

.protocol-details h2 {
    font-family: "Roboto Mono";
    font-size: 28px;
    color: #757575;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

.protocol-details hr {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.whois h2 {
    font-family: "Roboto";
    font-size: 28px;
    color: #757575;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.whois hr {
    padding-top: 0px;
    margin-top: 0px;
}

.details-unexpanded .btn {
    margin-top: 0px;
}

.details-expanded .btn {
    margin-top: 0px;
}

.bigcomma {
    margin-right: 2px;
}




@-webkit-keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes uil-facebook {
  0% {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  90% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.uil-facebook-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-facebook-css > div {
  position: absolute;
  width: 40px;
  height: 120px;
  top: 40px;
  left: 20px;
  background: #4285f4;
  opacity: 0.6;
  -ms-animation: uil-facebook 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
  -moz-animation: uil-facebook 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
  -webkit-animation: uil-facebook 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
  -o-animation: uil-facebook 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
  animation: uil-facebook 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
}
.uil-facebook-css > div:nth-of-type(2) {
  left: 80px;
  opacity: 0.8;
  -ms-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.uil-facebook-css > div:nth-of-type(3) {
  left: 140px;
  opacity: 0.9;
  -ms-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#cy {
  height: 400px;
}

.centered {
   display: block;
   margin-left: auto;
   margin-right: auto
}

.certificate h1 {
  font-family: "Roboto", "open sans", helvetica, sans-serif;
  font-size: 32px;
  padding-top: 8px;
  padding-bottom: 2px;
  font-weight: 400;

}

.certificate h1 .label {
  padding: 4px 10px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.page-content h1 {
  font-family: "Roboto", "open sans", helvetica, sans-serif;
  font-size: 32px;
  padding-top: 8px;
  padding-bottom: 2px;
  font-weight: 400;

}

.page-content h1 .label {
  padding: 4px 10px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.certificate .nav-topmenu {
    padding-top: 0px;
}

.page-content .nav-topmenu {
  padding-top: 0px;
}

.alert {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 3px;
}

.alert .close {
  position: relative;
  top: 2px;
  right: 0px;
}

.last {
    margin-right: 0px !important;
}

.result .detail {padding-bottom: 10px; padding-right: 14px; padding-left: 1px}
.result .results-metadata {padding-top: 1px;}
.result .results-highlight {padding-bottom: 10px; }
.result .glyphicon {padding-right: 3px }

#map-canvas {
    margin-top: 20px;
}

.modal-body h2 {
    font-weight: normal;
    padding-top: 5px;
    font-size: 25px;
    margin-bottom: 4px;
}

.modal-content {
    padding-left:50px;
    padding-right:50px;
}

.modal-body {
    padding-left: 0px !important;
    font-size: 15px;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}

.modal-body hr {
    margin-bottom: 10px;
    margin-top: 0px;
}

.left-table {
    padding-left: 0px;
}

.right-table {
    padding-right: 0px;
}

.myaccount .input-group .input-group-addon {
    font-size: 18px;
    font-weight: 400;
    padding: 0px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: #2f3863;
}

/* region myaccount details -- /account */

.myaccount h3 .badge {
  background-color: transparent;
}

/* endregion */

/* region myaccount -- /account/team */

#team-members .dropdown button {
  background-color: transparent;
  box-shadow: none;
  color: rgb(68, 57, 57);
  margin: 0;
}

#team-members td {
  vertical-align: middle !important;
}

.btn-link-feel {
  background: none !important;
  border-radius: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 14px !important;
  font: inherit;
  margin: 0 !important;
  padding: 16px !important;
  transition: none;
}

.btn-link-feel.danger {
  color: #d0021b;
}

.btn-link-feel:hover {
  background: none !important;
  box-shadow: none !important;
  color: rgb(38, 38, 38) !important;
}

.dropdown-menu-team-member-actions {
  padding: 0;
}

.dropdown-menu-team-member-actions li:hover {
  background-color: rgba(171, 200, 255, 0.3);
  -moz-transition: background-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: background-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: background-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* endregion */

@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

  .logo {
    display: none;
  }

  .logo.logo-square {
    display: inline-block;
    width: 47px;
    height: 47px;
  }

  .logo.hide-when-collapsed {
    display: none;
  }
}


.nav-raw-primary ul  {
    padding-left: 0px;
}

.nav-raw-primary .glyphicon {
    padding-right: 5px;
}

.nav-raw-primary li {
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.nav-raw-primary > li > a {
    font-size: 14pt;
}

.product {
    padding-top: 50px;
}

.nav-account {
    padding-top: 0px !important;
}


.form-group label.control-label {
    margin-top: 4px;
    font-size: 14px;

}

.product-comparison .table > tbody > tr > td {
    vertical-align: middle;
}

.search-help h2 {
    font-weight: normal;
    padding-top: 5px;
    font-size: 25px;
    margin-bottom: 4px;
}

.alert.alert-info {
  background-color: #4285f4 !important;
}

/* region material-kit.css overrides of button background colors */

.btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info:active:focus, .btn.btn-info:active:hover, .btn.btn-info.active:focus, .btn.btn-info.active:hover, .open > .btn.btn-info.dropdown-toggle, .open > .btn.btn-info.dropdown-toggle:focus, .open > .btn.btn-info.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn.btn-info,
.navbar .navbar-nav > li > a.btn.btn-info:hover,
.navbar .navbar-nav > li > a.btn.btn-info:focus,
.navbar .navbar-nav > li > a.btn.btn-info:active,
.navbar .navbar-nav > li > a.btn.btn-info.active,
.navbar .navbar-nav > li > a.btn.btn-info:active:focus,
.navbar .navbar-nav > li > a.btn.btn-info:active:hover,
.navbar .navbar-nav > li > a.btn.btn-info.active:focus,
.navbar .navbar-nav > li > a.btn.btn-info.active:hover, .open >
.navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle, .open >
.navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus, .open >
.navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover {
  background-color: #4285f4 !important;
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
  background-color: #4285f4 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #4285f4;
  border-color: #4285f4;
  color: var(--neutral-white-1);
  box-shadow: 0 2px 2px 0 rgba(66, 133, 244, 0.14), 0 3px 1px -2px rgba(66, 133, 244, 0.2), 0 1px 5px 0 rgba(66, 133, 244, 0.12);
}

.pagination > .disabled > a, .pagination > .disabled > span,
.pagination > .disabled > a:hover, .pagination > .disabled > span:hover {
  color: #cdcdcd;
}

.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary {
  box-shadow: 0 2px 2px 0 rgba(66, 133, 244, 0.14), 0 3px 1px -2px rgba(66, 133, 244, 0.2), 0 1px 5px 0 rgba(66, 133, 244, 0.12);
}

.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary:hover {
  box-shadow: 0 14px 26px -12px rgba(66, 133, 244, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(66, 133, 244, 0.2);
}

.form-control, .form-group .form-control {
  background-image: linear-gradient(rgba(66, 133, 244, 0.58), rgba(66, 133, 244, 0.58)), linear-gradient(#d2d2d2, #d2d2d2);
}

.form-group.is-focused .form-control {
  background-image: linear-gradient(rgba(66, 133, 244, 0.58), rgba(66, 133, 244, 0.58)), linear-gradient(#d2d2d2, #d2d2d2);
}

/* endregion */

.register .btn.btn-primary, .register .btn.btn-primary:hover, .register .btn.btn-primary:focus,
.register .btn.btn-primary:active, .register .btn.btn-primary.active, .register .btn.btn-primary:active:focus,
.register .btn.btn-primary:active:hover, .register .btn.btn-primary.active:focus, .register .btn.btn-primary.active:hover,
.register .open > .btn.btn-primary.dropdown-toggle, .register .open > .btn.btn-primary.dropdown-toggle:focus,
.register .open > .btn.btn-primary.dropdown-toggle:hover {
  background-color: #4285f4 !important;
}

/* this is an embarrassing hack.... */
.right-menu-option {
  padding-bottom: 8px !important;
}

/* bootstrap has very specific border radius overrides for input-group-btn */
.input-group-btn .btn {
  border-radius: 3px !important;
}

.help-tab {
  padding-top: 20px;
}

.btn-table {
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 1px;
  margin-top: 0px;
}

.alert.alert-warning {
  background-color: #ff6400;
}

.alert {
  letter-spacing: 0.2px;
}

.host-detail-software, .host-detail-chain-cert {
    margin-bottom: 16px;
}

.host-detail-chain-cert tt {
    font-weight: 700;
}

.host-detail-software tt {
  font-size: 13px;
  font-weight: 500;
}

.env-warning-badge {
  position: fixed;
  top: -41px;
  left: -120px;
  padding: 1px 0;
  z-index:10000;

  transform-origin: top right;
  transform: rotate(-45deg);

  background-color: yellow;
  border: 1px solid orange;

  font-weight: bold;
}

.env-warning-badge__inner {
  display: inline-block;
  width: 250px;
  color: black;
  font-size: 0.8em;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
}

.env-warning-badge__inner a {
  text-decoration: underline;
}

.env-badge-search-2 {
  top: -41px;
  left: -120px;

  z-index:9999;

  background-color: var(--primary-orange-5);
  border: 1px solid #E54F1F;
}

.env-badge-search-2 .env-warning-badge__inner {
  color: white;
  font-size: 0.9em;

  letter-spacing: 0.03em;
  font-weight: 800;
}

/* region ActionTabs block/component in BEM format */

.ActionTabs {
  display: flex;
  flex-direction: row;
}

.ActionTabs__item {
  color: #727285;
  font-size: 14px;
  margin: 0 8px;
  text-decoration: none;
  padding: 2px 0;
}

.ActionTabs__item:hover {
  color: #18181C;
  text-decoration: none;
}

.ActionTabs__item:focus {
  color: #18181C;
  text-decoration: none;
  border-bottom: 2px solid #18181C;
}

.ActionTabs__item.is-active {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

.ActionTabs__item-icon {
    margin-right: 4px;
}

/* endregion */

/* region DropdownMenu block/component in BEM format */

/* HACK: Reset from material-kit.css */
.DropdownMenu.dropdown-menu li > a {
  font-size: inherit;
  border-radius: inherit;
  padding: 0;
  margin: 0;
  transition: none;
  text-decoration: inherit;
}
.DropdownMenu.dropdown-menu li > a:hover,
.DropdownMenu.dropdown-menu li > a:active,
.DropdownMenu.dropdown-menu li > a:focus {
  background-color: #edf3fe;
  color: inherit;
  box-shadow: none;
}
.DropdownMenu.dropdown-menu {
  transition: none;
  margin: inherit;
}
@media (min-width: 992px)  {
    .dropdown.open .DropdownMenu.dropdown-menu {
        margin-top: 4px;
    }
}

/*
HACK: Reset from material-kit.css

For some reason, material-kit.css is applying this visibility goggle on the
hierarchy of dropdown-menu classes only within a min-width viewport:
https://github.com/censys/frontend/blob/0406e81ea5a91942b1ce1ef8525d470c42d41024/src/censys.internal.search/censys.internal.search/static/css/material-kit.css#L2402-L2419

This was causing our new dropdown menus to not appear on narrow screens. So, I'm
including the literal styles here, but only targeting our DropdownMenu component
to limit the side-effects because I'm not totally sure what's going on and why
this happening. But, the below styles fix the issue.
*/
.dropdown .DropdownMenu.dropdown-menu {
  display: block;
  visibility: hidden;
}
.dropdown.open .DropdownMenu.dropdown-menu {
  display: block;
  visibility: visible;
}

.DropdownMenu__divider {
  background-color: #dcdde8;
  height: 1px;
}

.DropdownMenu__header {
  font-size: 12px;
  color: #9092a5;
}

.DropdownMenu li.DropdownMenu__item > a,
.DropdownMenu li.DropdownMenu__item--no-link {
    padding: 8px 16px;
}

.DropdownMenu__item-icon {
  margin-right: 16px;
  color: rgba(24, 24, 28, 0.6);
}

/* endregion */

/* region FilterGroup block/component in BEM format */

.FilterGroup {
    margin-top: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FilterGroup__title {
  font-size: 14px;
  color: #3d3d47;
  font-weight: 500;
  margin-bottom: 8px;
}

.FilterGroup__items {
  width: 100%;
  table-layout: fixed;
}

.FilterGroup__item-container {
  vertical-align: top;
}

.FilterGroup__item-container:hover {
  color: #4285f4;
}

.FilterGroup__item-container-expandable {
  display: none;
}

.FilterGroup__item-count {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  width: 30%;
  padding-right: 8px;

}

.FilterGroup__item-value {
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  width: 70%;
}

@media (max-width: 768px) {
  .FilterGroup__item-count {
    width: 40%;
  }

  .FilterGroup__item-value {
    width: 60%;
  }
}

.FilterGroup__item-value a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.FilterGroup__item-value a:hover {
  text-decoration: none;
}

.FilterGroup__more-less-toggle {
  color: #727285 !important;
  margin-left: 10px;
}

.FilterGroup__more-less-toggle i {
  color: #727285 !important;
}

/* endregion */

/* region MyAccountButton block/component in BEM format */

.MyAccountButton {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--default-blue-4);
  border: 1px solid var(--default-blue-3);
  color: var(--neutral-white-1);
  font-size: 14px;
  font-weight: 500;
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MyAccountButton__text {
  width: 44px;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MyAccountButton:active {
  background-color: var(--default-blue-3);
}

@media (max-width: 320px) {
  .MyAccountButton {
    background: none;
    border: none;
    width: 24px;
    height: 44px;
  }

  .MyAccountButton:active {
    background-color: transparent;
  }

  .MyAccountButton:before {
    content: " \f142";
    font-family: FontAwesome, serif;
    color:var(--default-blue-4);
    background: none;
    font-size: 24px;
  }

  .MyAccountButton .MyAccountButton__text {
    display: none;
  }
}

/* endregion */

/* region NavBar block/component in BEM format */

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 84px;
  background-color: var(--neutral-grey-9);
  padding: 20px 0;
}

.NavBar--fixed-top {
  border-bottom: 1px solid #dcdde8;
}

.NavBar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  /* Work around the built-in breakpoints of bootstrap to ensure our NavBar is
   * full width (with .container padding) on smaller screens. */
  .container.NavBar__container {
    width: 100%;
  }
}

.NavBar__logo {
  flex: 0 0 auto;
}

.NavBar__search-form {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--neutral-white-1);
  border-radius: 2px;
  /* padding: 1px; */
  min-height: 40px;
  max-height: 40px;
}

.NavBar__multi-search-form {
  background-color: var(--neutral-white-1);
  border-top: 1px solid #cbcbcb;
  /* padding: 1px; */
}

.NavBar__search-boxes-both {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 32px;
  background-color: var(--neutral-white-1);
  border-radius: 2px;
  border: 1px solid #cbcbcb;
  /* padding: 1px; */
}

.NavBar__search-link:after {
  content: "\f054";
  position: relative;
  top: 1px;
  padding-left: 6px;
  font-family: FontAwesome, serif;
  font-size: 14px;
  color: rgba(72, 66, 66, 0.6588235294117647);
}

.dropdown .NavBar__search-index-picker {
  border-right: 1px solid #cbcbcb;
}

.NavBar__search-index-picker {
  color: var(--default-blue-4);
  background-color: var(--neutral-white-1);
  border-radius: 1px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  border: none;
}

.NavBar__search-submit {
  background-color: var(--default-blue-4);
  color: var(--neutral-white-1);
  padding: 0 25px;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.NavBar__search-multiline-toggle-enabled {
  background-color: var(--neutral-white-1);
  color: var(--default-blue-4);
  border-radius: 1px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.NavBar__search-multiline-toggle {
  background-color: var(--neutral-white-1);
  color: #8a8a8a;
  border-radius: 1px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  /* height: 100%; */
  border: none;
}

.NavBar__search-box-multi {
  width: 100%;
  border: none;
  padding: 8px 12px;
  caret-color: var(--default-blue-4);
  resize: none;
  /* position: absolute;
  border: 1px solid #cbcbcb; */
}

/*
Hack alert: targeting a child select to fake in styling of a native browser
component.
See https://coderwall.com/p/w7npmq/fully-custom-select-box-simple-css-only
*/
.NavBar__search-box {
  flex: 1 0 8em;
  /* height: 100%; */
  border: none;
  padding: 0px 12px;
  caret-color: var(--default-blue-4);
}

/*.NavBar__search-box:focus {*/
  /*border: 1px solid #4688f1;*/
/*}*/

.NavBar__my-account {
  flex: 0 0 2.75em;
}

.NavBar__unauthenticated-actions {
  display: flex;
  flex-direction: column;
}

.NavBar__register-link {
  color: #4285F4;
  font-size: 16px;
  font-weight: 500;
}

.NavBar__register-link:hover {
  color: #4285F4;
  text-decoration: underline;
}

.NavBar__login-link {
  font-size: 12px;
  color: #727285;
}

.NavBar__login-link:hover {
  color: #727285;
  text-decoration: underline;
}

/* endregion */

/* region SearchResult block/component in BEM format */

.SearchResult {
}

.SearchResult__title-icon {
  color: #4285F4;
  font-size: 16px !important;
  font-weight: 500 !important;;
}

.SearchResult__title-text {
  color: #4285F4;
  font-size: 16px;
  font-weight: 500;
}

.SearchResult__title-text:hover, .SearchResult__title-text:hover:focus, .SearchResult__title-text:hover:active {
  color: #4285F4;
}

.SearchResult__metadata-label {

}

.SearchResult__metadata-value {
  color: #18181c;
  font-size: 14px;
}

.SearchResult__metadata-value i {
  color: rgba(114, 114, 133, 0.5);
  font-size: 14px;
}

/* endregion */

/* region SearchResultSectionHeader block/component in BEM format */

.SearchResultSectionHeader {
}

.SearchResultSectionHeader__title {
  color: #18181c;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", "open sans", helvetica, sans-serif;
  margin: 0;
}

.SearchResultSectionHeader__subheading {
  color: #464652;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 2px;
}

.SearchResultSectionHeader__subheading a {
  color: #4285f4;
  text-decoration: underline;
}

.SearchResultSectionHeader__subheading a:hover, .SearchResultSectionHeader__subheading a:active {
  color: #2f3863;
}

.SearchResultSectionHeader--hack-in-bottom-margin {
  margin-bottom: 24px;
}

.SearchResultSectionHeader__statistic {
  margin-right: 8px;
}

/* endregion */

/* region SearchResultsFilterBar block/component in BEM format */

.SearchResultsFilterBar {
    padding-top: 16px;
    padding-right: 0;
}

/* endregion */

/* region SearchResultsHeader block/component in BEM format */

.SearchResultsHeader {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  border-bottom: 1px solid #dcdde8;
  justify-content: flex-start;
}

.SearchResultsHeader__actions {
  margin-left: auto;
}

/* endregion */

.table-anchor {
  display: block; position: relative; top: -100px; visibility: hidden;
}

.raw-data-anchor-callout {
  background: #f0f5ff;
}


/* region Hide mobile/desktop global modifier */

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none;
  }
}

/* endregion */

/* region Raw Data components in BEM format */

.raw-data-series-home__container {
  margin: 32px 0 48px 0;

}

.raw-data-series-selector__container {
  margin: 32px 0;
}

.raw-data-series-selector__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 16px;
}

.raw-data-series-selector__item {
  margin-top: 32px;
}

.raw-data-series-selector__item:first-child {
  margin-top: 0;
}

.raw-data-series-selector__link:hover {
  color: #2f3863;
  text-decoration: none;
}

.raw-data-series-selector__link:before {
  position: relative;
  bottom: 2px;
  padding-right: 4px;
  font-family: FontAwesome, serif;
  font-size: 16px;
  color: rgba(24, 24, 28, 0.6);

}

.raw-data-series-selector__link-label {
  position: relative;
  top: -4px;
  left: 4px;
}

.raw-data-series-selector__link--ipv4:before,
.raw-data-series-selector__link--ipv4-banners:before,
.raw-data-series-selector__link--uids:before{
  content: "\f108";
  bottom: 1px;
}

.raw-data-series-selector__link--certificates:before {
  content: "\f0a3";
}

.raw-data-series-selector__link--websites:before {
  content: "\f0ac";
}

.raw-data-series-selector__name {
  font-size: 20px;
  line-height: 24px;
}

.raw-data-series-selector__description {
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}

.raw-data-series-selector__hero-image {
  width: 100%;
  padding: 0 16px;
}

.raw-data-series-snapshot-picker__container {
  margin-bottom: 16px;
  border-bottom: 1px solid #D8D8D8;
  background: none;
  border-radius: 0;
  padding-left: 0;
}

.raw-data-series-snapshot-picker__content {
  margin-bottom: 48px;
}

.raw-data-series-snapshot-picker__tab {
  text-transform: none;
  font-weight: 400;
}

.raw-data-series-snapshot-picker__tab,
.raw-data-series-snapshot-picker__tab a
{
  margin: 0 16px;
  font-weight: 400;
  font-size: 14px !important;
}

.raw-data-series-snapshot-picker__diagram {
  width: 100%;
  padding: 0 16px;
  margin-top: 16px;
}

/* endregion */
